
.DS_Store
.ipynb_checkpoints/notebook_1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
notebook_1.ipynb
Teoricos/.ipynb_checkpoints/Errores-checkpoint.ipynb
Teoricos/.ipynb_checkpoints/Punto_Flotante-checkpoint.ipynb
Guias/.ipynb_checkpoints/guia-3-2022-checkpoint.ipynb
Teoricos/.ipynb_checkpoints/Integracion_divide_y_conquista-checkpoint.ipynb
