
.DS_Store
.ipynb_checkpoints/primer_notebook-checkpoint.ipynb
guias/.ipynb_checkpoints/guia-1-2022-checkpoint.ipynb
teoricos/.ipynb_checkpoints/Espaciamiento_entre_numeros_flotantes-checkpoint.ipynb
teoricos/.ipynb_checkpoints/Errores-checkpoint.ipynb
